*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

body{
    background-color: #b27068;
    color: white;
}

.TopBar{
    background-color: #f0b8ea;
    text-align: justify;
}
.TopBar >h1{
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: medium;
    color: white;
    padding: 7px 7px;
}

.main{
    background-image: url('Assests/Banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    
    height: 50vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.main >b{
    font-family: Inter, sans-serif; 
    font-weight: 700;
    font-size: 40px;
    padding: 10px 0 50px 0;
}

.main >i{
    font-family: Inter, sans-serif;
    font-weight: 100;
    font-size: 25px;
    padding: 50px 0 0 0;
}


/* Redirect Buttons */
.buttons{
    padding: 50px 0;
    display:flex;
    justify-content: center;
}

.redirect-buttons{
    flex-basis: 150px;
}

.redirect-buttons>a{
    padding: 20px;
    display: block;
}

@media(max-width:600px){
    .redirect-buttons{
        flex-basis:auto;
    }
}



.img-fluid{
    height: auto;
    max-width: 100%;
    margin: auto;
}


/* .main >img{
    width: 100px;
    height: 100px;
} 

.Platforms{
    align-self: center;
    height: 30vw;
    flex: 0  9;
    outline: 5px solid rgba(134, 47, 47, 1);
    flex-direction: column;
    background-color: #b27068;
}

.PlatformTitle{
    font-family: Inter, sans-serif;
    font-weight: 600;
    text-align: center;
    padding: 3vw 0;
    width: 100%;
    align-self: center;
    color: white;
    
}

.PlatformLinks{
    
    align-self: center;
    display: flex;
    justify-content: space-evenly;
    padding: 0 0 10vw 0;
}

.PlatformLinks >a{
    width: 20%;
    align-self: center;
    height: 10vw;
}

.PlatformLinks > a> img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.bios > div{
    height: 20vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

.bios > div > div{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    
}

.bios > div > div >div{
    flex: 0.9;
    text-align: left;
    padding: 0 5vw;
}

.bios > div > div >div >b{

    font-family: Inter, sans-serif;
    font-weight: 200;
    font-size: 8vw;
}

.bios > div > div >div >i{

    font-family: Inter, sans-serif;
    font-weight: 100;
    font-size: 4vw;

}

.bios > div > div > img{
    padding: 2vw 2vw;
    height: 100%;
}
*/
